<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SnapPromise</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.297781393287-h2ssb06q5qutide7o3lq9nilm7374p9t</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.297781393287-h2ssb06q5qutide7o3lq9nilm7374p9t</string>
				<string>apple</string>
				<string>stripe</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>google</string>
		<string>googlechrome</string>
		<string>googlechromes</string>
		<string>apple</string>
		<string>stripe</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>SnapPromise integrates with Apple Pay for subscription services.</string>
	<key>NSCameraUsageDescription</key>
	<string>SnapPromise requires access to your camera for capturing videos and photos for
			promises. Media is stored locally and shared only with your selected contacts.</string>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to...</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is used in SnapPromise to tag locations on promises, helping keep memories
			connected to places.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>SnapPromise uses the microphone to capture audio for video promises, so you can
			fully express your messages.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library...</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>FontAwesome6.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:socialladderdevs2.rkiapps.com</string>
		<string>applinks:socialladderdev3.rkiapps.com</string>
		<string>applinks:socialladderdevi.rkiapps.com</string>
		<string>applinks:socialladder.rkiapps.com</string>
		<string>webcredentials:socialladder.rkiapps.com</string>
	</array>
</dict>
</plist>
