<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297781393287-h2ssb06q5qutide7o3lq9nilm7374p9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297781393287-h2ssb06q5qutide7o3lq9nilm7374p9t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>297781393287-epkcnq08k16t8im6blu0g8tkgcp84be7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGCTCsYuyYTl_HuasvZWEZtzUS6EOZniw</string>
	<key>GCM_SENDER_ID</key>
	<string>297781393287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SnapPromise</string>
	<key>PROJECT_ID</key>
	<string>snap-promise-4b4a1</string>
	<key>STORAGE_BUCKET</key>
	<string>snap-promise-4b4a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297781393287:ios:d149c75f04bf20eb4a0522</string>
</dict>
</plist>